.App {
  text-align: center;
  min-height: 100vh;
  background: hsl(215, 100%, 35%);
}

.headcontainer {
  padding: 10px;
  border-radius: 20px;
  background:  rgba(5, 24, 50, 0.4);
  width: 350px;
  margin: 5px auto 0 auto;
}

.container {
  width: 350px;
  height: 100px;
  margin: 0 auto;
  padding-top: 110px;
}

.generator {
  background: hsl(215, 100%, 35%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(20, 18, 154, 0.547);
  padding: 20px;
}

.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.generator__password {
  text-align: left;
  position:relative;
  background: rgba(5, 24, 50, 0.4);
  padding: 10px 10px;
  color: #fff;
  height: 55px;
  margin-bottom: 20px;
  line-height: 0px;
}

.copy__btn {
  position: absolute;
  background: #b3b3c9;
  color: #fff;
  border: none;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  top: 4px;
  right: 3px;
}

.generator__btn {
  background: #b3b3c9;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: #160d0d;
  font-size: 17px;
  cursor: pointer;
}
.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}


.App-header {
  background-color: #093b9e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
